<!DOCTYPE html>
<html>
<head>
	<title>New Comment</title>
	<link rel="stylesheet" href="/styles.css">
</head>
<body>
	{{> header}}

	<main>
		<h2>Add Comment<h2>
		<p>The is the form to add a comment to the forum!</p>
		{{#if error}}
			<p>Didn't fill out all fields?</p>
		{{/if}}
		<form method="POST" action="/comment">
			<textarea name="text" required></textarea>
			<br>
			<button type="submit">Submit</button>
		</form>
	</main>

	{{> footer}}
</body>
</html>
