<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>
	<link rel-"stylesheet" href="/styles.css">
</head>
<body>
  	{{> header}}

  	<main>
    			<h2>Welcome {{user}} to the Wild West Forum!</h2>
    			<p>This is the midterm assignment for COS498: Server Side Web Development.</p>
	</main>
  
  	{{> footer}}
</body>
</html>

