<!-- Login page for the wild west forum -->
<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>
	<link rel="stylesheet" href="/styles.css">
</head>
<body>
	{{> header}}

	<main class="content">
		<h2>Login</h2><br>
		<p>You must login to use the Wild West Forum.</p>
		
		<!-- If the user enters the wrong credentials, display an error -->
		{{#if error}}
			<p class="error-message">Wrong credentials. Please try again!</p>
		{{/if}}

		<!-- The form for the user to enter username and password for login -->
		<form method="POST" action="/login" class="form-auth">
			<label>Username:</label>
			<input type="text" name="username" required>
			<br>
			<label>Password:</label>
			<input type="password" name="password" required>
			<br>
			<button type="submit">Login</button>
		</form>
	</main>

	{{> footer}}
</body>
</html>
