<!-- The page that will let the user register a new account -->
<!DOCTYPE html>
<html>
<head>
	<title>Register</title>
	<link rel="stylesheet" href="/styles.css">
</head>
<body>
	{{> header}}

	<main class="content">
		<h2>Register</h2><br>
		<p>Create a new account for the Wild West Forum.</p>

		<!-- If the user tries to register a username that exists, show error -->
		{{#if error}}
			<p class="error-message">That username is already taken. You must choose another!</p>
		{{/if}}

		<!-- The form allowing the user to create their username and password -->
		<form method="POST" action="/register" class="form-auth">
			<label>Username:</label>
			<input type="text" name="username" required>
			<br>
			<label>Password:</label>
                        <input type="password" name="password" required>
			<br>
			<button type="submit">Register</button>
		</form>
	</main>

	{{> footer}}
</body>
</html>
